h3 {
	text-align: center;
	margin: 5px;
}

.signInForm {
	display: flex;
	flex-direction: column;
	align-items: center;

	.input-field {
		margin-bottom: 5px;

		&.last {
			margin-bottom: 15px;
		}
	}
}

.socialButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.google-sign-in {
	background: url('Google.png');
	background-size: contain;
	width: 64px;
	height: 64px;
}
